.logo {
    width: 35px;
}

.top-numbers {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            font-size: 0.9rem;

            .total {
                font-weight: bold;
                font-weight: 700;
            }
        }

        li.bigger {
            font-size: 1rem;
            color: #fff;
        }
    }
}

ion-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ion-card-title {
    font-size: 1rem;
    margin: 0.25rem 0;
}

ion-card-content {
    color: #fff;
}

.section {
    color: #fff;
}

ion-slides {
    padding-left: 1rem;
}

ion-slide {
    .movie {
        background-color: #11141e;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
            rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        min-width: 100%;
        margin-bottom: 6px;

        ion-img {
            min-width: 100%;
        }

        ion-img::part(image) {
            min-width: 100%;
            object-fit: cover;
        }

        .movie-info {
            color: #eee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0.5rem 0.5rem 0.5rem;
            text-align: start;
            min-width: 100%;

            span {
                font-size: 0.6rem;
                background-color: var(--ion-color-primary-shade);
                color: var(--ion-color-primary-contrast);
                border-radius: 3px;
                padding: 2px 4px;
            }
        }

        .movie-title {
            font-size: 0.8rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 0.25rem;
        }

        p {
            font-size: 0.7rem;
            padding: 0;
            margin: 0;
            padding-bottom: 0.5rem;
            font-weight: normal;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem;

    a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.7rem;
        color: var(--ion-color-dark-shade);
    }
}

.time-watched-gauges {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .gauge {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .gauge-label {
        margin-top: 1rem;
    }
}
