<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-padding"><span>{{ totalMovies }}</span> Filmes</ion-text>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let movie of movies">
        <div class="movie">
          <ion-img [src]="generateImageUrl(movie?.poster_path)"></ion-img>
          <div class="movie-info">
            <div class="movie-title">{{ movie?.title }}</div>
            <span>{{movie?.vote_average}}</span>            
          </div>
          <p>{{movie.watchedAt}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
