<ion-header class="ion-no-border" translucent>
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home/movie-list"></ion-back-button>
    </ion-buttons>


    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title #title>{{ movie?.title }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div *ngIf="movie && imdbRatings ; else loadingOrError">
    <div class="header-content" *ngIf="movie ; else loadingOrError">
      <div class="backdrop-area">
        <div class="backdrop ion-no-padding">
          <ion-img *ngIf="movie?.backdrop_path" [src]="generateImageUrl(movie?.backdrop_path)"></ion-img>
        </div>
      </div>
      <div class="poster-details ion-padding">
        <div class="poster">
          <ion-img *ngIf="movie?.poster_path" [src]="posterUrl + movie?.poster_path"></ion-img>
        </div>
        <div class="movie-info">
          <span>
            {{ movie?.release_date | date: 'yyyy' }} - {{ movie?.runtime }} minutos
          </span>
          <h1>{{ movie?.title }}</h1>
          <p *ngIf="watchedDate">Assistido em: {{ watchedDate | dateformat: "dd 'de' LLLL 'de' yyy" }}</p>
        </div>
      </div>
    </div>
    <div class="scores ion-padding-horizontal">
      <div class="score">
        <h1>{{ movie?.vote_average }}</h1>
        <span>The Movie Database</span>
      </div>
      <div class="score" *ngFor="let rating of imdbRatings">
        <h1>{{ rating?.Value }}</h1>
        <span>{{ rating?.Source }}</span>
      </div>
    </div>

    <ion-segment (ionChange)="segmentChanged($event)" value="movieDetails">
      <ion-segment-button value="movieDetails">
        <ion-label>Filme</ion-label>
      </ion-segment-button>
      <ion-segment-button value="userDetails">
        <ion-label>Usuário</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectedTab === 'movieDetails'">
      <ion-card>
        <ion-item class="ion-no-padding">
          <ion-label class="ion-padding-horizontal">Sinopse</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-text color="dark">
            <p>{{ movie?.overview }}</p>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-no-padding">
        <ion-item class="ion-no-padding">
          <ion-label class="ion-padding-horizontal">Gêneros</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-badge *ngFor="let genre of movie?.genres" color="primary">{{ genre.name }}</ion-badge>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item class="ion-no-padding">
          <ion-label class="ion-padding-horizontal">Diretores</ion-label>
        </ion-item>
        <ion-card-content class="ion-no-padding">
          <ion-item *ngFor="let director of directors" lines="none" detail [routerLink]="['/people', director.id]"
            [queryParams]="{ role: 'directing'}">
            <ion-avatar slot="start" *ngIf="director.profile_path">
              <ion-img [src]="profileUrl + director.profile_path"></ion-img>
            </ion-avatar>
            <ion-label>{{ director.name }}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item class="ion-no-padding">
          <ion-label class="ion-padding-horizontal">Elenco</ion-label>
          <ion-badge class="see-more" (click)="presentCastListModal()" color="primary" slot="end" size="small"
            *ngIf="movie?.casts.cast.length > 10">
            Ver Todos
          </ion-badge>
        </ion-item>
        <ion-card-content class="ion-no-padding">
          <ion-item *ngFor="let cast of movie?.casts.cast.slice(0,5)" lines="none" detail
            [routerLink]="['/people', cast?.id]">
            <ion-avatar slot="start" *ngIf="cast.profile_path">
              <ion-img [src]="profileUrl + cast.profile_path"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{ cast?.name }}</h2>
              <p>{{ cast?.character }}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-no-padding">
        <ion-item class="ion-no-padding">
          <ion-label class="ion-padding-horizontal">Estúdios</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-badge *ngFor="let company of movie?.production_companies" color="primary">{{ company.name }}</ion-badge>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="selectedTab === 'userDetails'">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Awesome content
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ion-fab *ngIf="movie" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon [name]="fabIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-template #loadingOrError>
    <ng-container *ngIf="error; else loading">
      <div class="loading">
        Alguma coisa deu errado!
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="loading">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </ng-template>
  </ng-template>

</ion-content>
<ion-datetime (ionChange)="dateChanged($event)" #startTimePicker displayFormat="DD/MMM/YYYY H:mm" cancelText="Cancelar"
  doneText="Salvar" [monthShortNames]="customMonthShortNames" min="1994-03-14" [max]="today.toISOString()"
  [value]="today.toISOString()" hidden="true"></ion-datetime>